<html>
    <head>
        <title>The Station App</title>
            <link href="homepage.css" rel="stylesheet" type="text/css">
                                                <script type="text/javascript">
                                                    window.twttr = (function (d, s, id) {
                                                        var t, js, fjs = d.getElementsByTagName(s)[0];
                                                        if (d.getElementById(id)) return;
                                                        js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
                                                        fjs.parentNode.insertBefore(js, fjs);
                                                        return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
                                                    }(document, "script", "twitter-wjs"));
                                                </script>
    </head>

    <body>
        
        <!-- centered action box-->
        <div style="width: 65%; height:100%; margin-left: auto; margin-right: auto; margin-bottom: 5px;">
            <div style="background-color: #ffffff; width:100%; height: 35px;">
                <div class="toplikes">
                    
                    <a href="" class="links">
                        <div class="icon">
                            <img style="float: right; width: 17px; padding: 4px 4px 4px 4px;margin: 4px 4px 4px 4px;" src="images/more.png">
                        </div>
                    </a>
                    <a href="" class="links">
                        <div class="icon">
                            <img style="float: right; width: 17px; padding: 4px 4px 4px 4px;margin: 4px 4px 4px 4px;" src="images/search.png">
                        </div>
                    </a>
                    <a href="" class="links">
                        <div class="icon">
                            <img style="float: right; width: 17px; padding: 4px 4px 4px 4px;margin: 4px 4px 4px 4px;" src="images/compose.png">
                        </div>
                    </a>
                </div>
            
                <h2 style="padding-top:4px">
                    Station
                </h2>
            </div>
            
            
            
            <!--cover holder-->
            <div>                
                <img style="width: 82%; height:225px; float: right;" src="images/coverholder.png"/>
                <div style="background-color: #000000; opacity: .6; width: 53.3%; height: 100px; position: absolute; height: 100px; margin-left: 11.7%; margin-top: 125px;">
                </div>
            </div>
            
            <!--center feed-->
            
                <div class="feed">
                    <!--needs edit-->
                    <div class="table">
                        <% if session[:user] != nil %>
                        
                            <FORM METHOD="Post" action="/feed" style="height: 100%">
                                <a class="twitter-timeline"
                                href="https://twitter.com/asian__joe"
                                data-widget-id="YOUR-WIDGET-ID-HERE">
                                Tweets by @asian__joe
                                </a>


                            </FORM>
                       <% end %> 
                    </div>
                </div>
           
                
                
            <!--right side bar-->
                <div style="width:250px; height:70%; background-color: #333333; float: right; margin-top: 0px; margin-left: 18%;">
                    <div>
                        <img src="images/scheduledpost.png">
                        <p>
                            Scheduled Post
                        </p>
                        <p>
                            [date]
                        </p>
                    </div>
                    <div>
                        <p>
                            [data]
                        </p>
                        <p>
                            [assigned date]
                        </p>
                    </div>
                </div>
            
            
        <!--left side bar-->
        
            <div class="sidebar">
                <div class="profstrip">
                    <div>
                        <img style="float: left; width: 60px; position: absolute; padding: 10px 0px 10px 10px; background-color: #464646;" src="images/joePH.png">
                        
                        <div style="margin-left: 65px; width:150px; padding: 10px 0px 10px 10px; background-color: #464646;">
                            <p style="margin: 0px; color: #ffffff; padding-top: 7.5px; font-size: 21px;">
                                Joe Chong
                            </p>
                            <p style="margin: 0px; color: #ffffff; padding-bottom: 12.5px; font-size:14px;">
                                @asian__joe
                            </p>
                        </div>
                    </div>
                </div>
            
            
            
            <!--left side bar tabs-->
            
                <div style="margin-top:55px;">
                                <a href="" class="links">
                                    <div class="divsize">
                                        <img class="sidebars" src="images/dashboard.png">
                                        <p class="tabs">Dashboard</p>
                                    </div>
                                </a>
                                
                                <a href="" class="links">
                                    <div class="divsize">
                                        <img class="sidebars" src="images/statistics.png">
                                        <p class="tabs">Statistics</p>
                                    </div>
                                </a>
                                
                                <a href="" class="links">
                                    <div class="divsize">
                                        <img class="sidebars" src="images/scheduledpost.png">
                                        <p class="tabs">Scheduled Post</p>
                                    </div>
                                </a>
                                
                                <a href="" class="links">
                                    <div class="divsize">
                                        <img class="sidebars" src="images/activity.png">
                                        <p class="tabs">Activity</p>
                                    </div>
                                </a>
                        
                        
                        </br>
                        
                        
                        
                        
                        
                        <p style="color:#464646; margin-left: 45px; position: absolute; margin-top: 9%;">Accounts</p>
                        
                        <a href="" class="links" style="margin-top 1%;">
                            <div class="divsize">
                                <img class="sidebars" src="images/facebook.png">
                                <p class="tabs">[Fb account]</p>                    <!-- fetch facebook account name-->
                            </div>
                        </a>
                        
                        <a href="" class="links">
                            <div class="divsize">
                                <img class="sidebars" src="images/facebook.png">
                                <p class="tabs">[Fb account]</p>                    <!-- fetch facbook account name-->
                            </div>
                        </a>
                        
                        <a href="/instagramfeed" class="links">
                            <div class="divsize">
                                <img class="sidebars" src="images/instagram.png">
                                <p class="tabs">[Ig account]</p>                    <!-- fetch instagram account name-->
                            </div>
                        </a>
                        
                        <a href="/twitterfeed" class="links">
                            <div class="divsize">
                                <img class="sidebars" src="images/twitter.png">
                                <p class="tabs">[Tr account]</p>                    <!-- fetch twitter account name-->
                            </div>
                        </a>
                        <!-- IMPORTANT:
                            IF YOU WANT TO CREATE ANOTHER LINK, YOU MUST USE THIS FORMAT:
                                <a href="" class="links">
                                    <div class="divsize">
                                        <img class="sidebars" src="twitter.png">
                                        <p class="tabs">[Tr account]</p>
                                    </div>
                                </a>
                        -->

                    <!--footer-->
                    

                </div>
            </div>
            <div class="footer">
                <!--EXTENSIONS LINKS: ==> IMPORTANT THINGS TO CONSIDER IN FOOTER
                    -Terms of Service and Privacy => contract?
                    -about page => basic goal of this website and what will it accomplish for who
                    -"contact us" for questions, comments, feedback, etc. =. leads to email-form and email page/pop up
                    -OR survey => questions comments feedback about use and service of the app
                    -help page => instructions for how to use the website >>writtern or through video?
                        -->
                <div style="margin-left:auto; margin-right: auto; padding-top:10px; width:550px;">
                    <a class="footertext" href="">Contact us</a>
                    <a class="footertext" href="">About</a>
                    <a class="footertext" href="">Terms</a>
                    <a class="footertext" href="">Privacy</a>
                    <a class="footertext" href="">Help</a>
                </div>
                
                <p class="footertext" style="margin-left:auto; margin-right: auto; width: 105px;"> &copy; 2014 StationApp</p>
            </div>
        </div>


    </body>

</html>