<!DOCTYPE html>
<html>
    
    <head>
        <title>The Station App</title>
            <link href="signup.css" rel="stylesheet" type="text/javascript">
    </head>  

    <body>
        
        <center>
            <p>For new Users, please fill out the</br>
            sign-up form below to get access!</p>

        
        <form method="POST" action="/signup">
        Username: <input type="text"  name="username" /></br> 
        Password: <input type="password" name="password"/></br>
        <input type="submit" value="Sign up">
</form>

        <p>If you already have an account,</br>
        <a href="http://thestationapp-c9-thestationapp.c9.io/login">click here</a></p>

        </center>


    </body>
</html>